{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body_block %}
<div class="login_page_class">
  <h1>Please Login:</h1>
  <h3><p>(Must be SuperUser, please check <br>
         admin for issues.)</p></h3>
  <h2>{{ message }} </h2>
  <form class="login_main" action="main.html" method="post">
    {{ form.as_p }}
    <input type="submit" name="Clickme" value="Login" id = "login_button">
    {% csrf_token %}

  </form>
</div>
{% endblock %}
